rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Currently no file upload is restricted :)
      allow read, write: if false;
    }
  }
}
